doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Goals

    link(rel='stylesheet' href='../gratitude/gratitude.css')
    //- script(src='/static/js/main.js')


body
    include ../templates/nav.pug
    div.heading
        h1 Goals

        p These are my 2018 Goals.  In 2018 I am starting a new chapter n my career, and it is an opportunity for me to start building better habits for myself.  In 2018 I will be a more #[strong POSITIVE] person, I will learn to hone my #[strong FOCUS], to be a more #[strong Productive] person, with more #[strong ENERGY].

        p #[em Waylon S. Walker]

    div.content
        include content.html

    div.credits

    footer
        include ../templates/footer.pug

