html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 404

        style.
            body font-family: arial
            #content height:1vh 
        
    body
        #content
            h1.
                404
            p.
                The following page no longer exists
            p.
                return to #[a(href="http://www.waylonwalker.com", title="waylonwalker").link WaylonWalker.com]

                