#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  color: #FFF; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  background: #FFF; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  background-color: #FFF; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  color: black; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  color: black;
  background: #555; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  color: black;
  background-color: #555; }

.left {
  float: left; }

.right {
  float: right; }
#content {
  width: 500px;
  height: 1800px;
  display: block;
  margin: 0 auto;
  text-align: center; }

footer {
  max-width: 1000px;
  margin: 1rem 10rem;
  color: black;
  background-color: #555; }

.left {
  float: left; }

.right {
  float: right; }
