extends ../templates/layouts/presentation
include ../templates/includes/_mixins
block append config
  -
    // config.title = 'The Story of Us';
    // config.description = 'How we got here.';
    // config.date = '2018-05-18'
    //- config.author.name = 'Waylon Walker'
    //- config.author.email = 'quadmx08@gmail.com'
    //- config.author.link = 'http://www.waylonwalker.com'
    //- config.author.twitter = '_waylonwalker'
    //- config.author.github = 'waylonwalker'
    //- config.confidential = ''
    //- options black, white, league, beige, sky, night, serif, simple, solarized
    //- config.theme = 'black'
  -

block append defaultscripts

block append styles
  -
  link(rel="stylesheet" href="static/css/custom.css")
  -


block append slides
  +slide
    +slide
      h1 The Story of Us
      p.
        How we got here.
    +slide
      img.polaroid(src="https://lh3.googleusercontent.com/yCvftaQl_eQC491vvVYExKbFFgX9oo5u9GTjF2yaW_au_i1QIf3CJb8MGgB6ubAF0ROGUvtcPLlPuE-pB9x_IB9PmDdMUd3Q0GcQ7HUNp6l3t4t1J-5gyMyk54rtJdAsqqx8lwSivuRyd6hshBCZ2hv6thl7aqTsMO0csjb0T6qvI7CWR1eYq5Pmsn9e_6hNagoCqluZgpyRT57aEvQ26Ajm8Yk9PXhWhfo9B2ZAwI-pZIR-3SI4CkyYfbybkd5meYJnYb96OAnvsYe5vN99oTGCckHLlvlDDyd2nnzPU0oPk7Q3ChOM2nT1lIliLbhs51YwiNbHnzXkMGN2Jg9BUa-0heDi8xwkwRKbDvwblA-e3UWRCRuptCX0yqPtkSsQzzbB_t5flv4l7nCWAZFnL3kXtd8gQWMo3d-Ce1mRdDbGY0kmNkMdWcsXKrgEWPkD2bEk4IC-p0uZeP2vTNRujfacXOE9wXb76E72Qzq_bL_iga120JYMNplD30gvPEOD9R28Y4rMxUsXC2YOyPjA4YNnKj__0cp9uyUYFEkOtXzDPfDDRShO7vCbjkKyvf7-OUoKW_Zb3eA1yd8FJufsNDQrhgwKK_rjXcy9IyYM=w500-h285-no", alt="first_date")
