extends ../templates/layouts/presentation
include ../templates/includes/_mixins
block append config
  -
    // config.title = 'The Story of Us';
    // config.description = 'How we got here.';
    // config.date = '2018-05-18'
    //- config.author.name = 'Waylon Walker'
    //- config.author.email = 'quadmx08@gmail.com'
    //- config.author.link = 'http://www.waylonwalker.com'
    //- config.author.twitter = '_waylonwalker'
    //- config.author.github = 'waylonwalker'
    //- config.confidential = ''
    //- options black, white, league, beige, sky, night, serif, simple, solarized
    //- config.theme = 'black'
  -

block append defaultscripts

block append styles
  -
  script(src="http://localhost:35729/livereload.js")
  
  link(rel="stylesheet" href="static/css/custom.css")
  meta(name='theme-color' content='#222222')
  -


block append slides
  +slide
    +slide
      h1 The Story of Us
      h3#days.fragment days
      p.
        How we got here.

      script.
        days_el = document.getElementById('days')
        today = new Date()
        together = new Date('8/15/2007')
        years = (today - together)/(1000*60*60*24*365.2425)
        years_num = Math.floor(years)
        days_num = Math.round((years - years_num)*365)
        
        days_el.innerHTML = String(years_num) + ' Years ' + String(days_num) + ' days '

    +slide
      h1 JCrew
      p
        em.
          We First met while working together as school janitors, just trying to make our way through high school and have fun doing it.
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/yCvftaQl_eQC491vvVYExKbFFgX9oo5u9GTjF2yaW_au_i1QIf3CJb8MGgB6ubAF0ROGUvtcPLlPuE-pB9x_IB9PmDdMUd3Q0GcQ7HUNp6l3t4t1J-5gyMyk54rtJdAsqqx8lwSivuRyd6hshBCZ2hv6thl7aqTsMO0csjb0T6qvI7CWR1eYq5Pmsn9e_6hNagoCqluZgpyRT57aEvQ26Ajm8Yk9PXhWhfo9B2ZAwI-pZIR-3SI4CkyYfbybkd5meYJnYb96OAnvsYe5vN99oTGCckHLlvlDDyd2nnzPU0oPk7Q3ChOM2nT1lIliLbhs51YwiNbHnzXkMGN2Jg9BUa-0heDi8xwkwRKbDvwblA-e3UWRCRuptCX0yqPtkSsQzzbB_t5flv4l7nCWAZFnL3kXtd8gQWMo3d-Ce1mRdDbGY0kmNkMdWcsXKrgEWPkD2bEk4IC-p0uZeP2vTNRujfacXOE9wXb76E72Qzq_bL_iga120JYMNplD30gvPEOD9R28Y4rMxUsXC2YOyPjA4YNnKj__0cp9uyUYFEkOtXzDPfDDRShO7vCbjkKyvf7-OUoKW_Zb3eA1yd8FJufsNDQrhgwKK_rjXcy9IyYM=w500-h285-no", alt="first_date")
        figcaption Our First Date
      p.fragment
        em.
          Ok maybe not the first but close enough.

    +slide
      p.
        Our dates have never been anything fancy. Just us trying to be ourselves and having fun doing whatever we can find to do.  We both value our time together more than the event anyways.


    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/wq903aymKAmk_WVFZIrWIzxfYgvhaIQHJk2FV_jcs9N-ueB8v5EJT5sGLp_QnKh3mrBz5rNOSWHF2pCfXBdQRXwb_IiJ4VvtZE1KXC9VD9W2aF5dbPhj4DioxGItfydHwDu0GpZxZUUDXKKiJem54ap9MKxhu-oghoBcu_lA0DmGvoc7A9g6vAmhVThpe1Ek0JOKvj2Mc0-QxWhizq2OPrUhh6M0VZmUcdZgfYHthSZ_q2KiDce7eihIZaGwroAPAEiU-tcu5NEOh5qmDLNT0elODP-8aSuKNdZpzoytw-oDeNzf8fnaKliD0zujsWu6gFe-R4WRhaoXd6B-xvFcdubPu8Wl_Iyu4f1xaPGwjY1ztFB_u98rhhMBm-lImFQpcAZMUBmgXTwxnwKb4-KdULJQIa6-4yvIbkhytIDx1lk3mkOc2e7eCIWD55KGo0QnPhbRjOaShF5vYGcwY77zcaqzyLRI_Id-_y6K64lU_cWElJc6yyDvPy19QKofh6V_Sbx_Nd9gtkZnO_AIUYZH-ZfJyoYeNNCmu7r_TRIWpLg-kLUq2SPcRebveBT03duKxAuXjTZ1hu1FXUPcPJdjQLXKZ3ugGF4rHPXb0Q=w1059-h795-no", alt="Just a Couple of Kids")
        figcaption Just a Couple of Kids
      p.
        When we met we were just a couple of kids trying to have fun and enjoy life to its fullest.
    +slide
      h1 Iowa State
      h3#i_days.fragment days
      p.
        We attended Iowa State University together.  This was one of the greatest adventures of our lives, but also probably the biggest test to our relationship.  2 semesters, and 3 summers apart were the most dificult.  We stuck through and came out on top.

      script.
        days_el = document.getElementById('i_days')
        today = new Date()
        together = new Date('8/1/2008')
        years = (today - together)/(1000*60*60*24*365.2425)
        years_num = Math.floor(years)
        days_num = Math.round((years - years_num)*365)
        
        days_el.innerHTML = String(years_num) + ' Years ' + String(days_num) + ' days '
    +slide
      h1 Wedding
      h3#wed_days.fragment days
      p.
        We had a simple wedding with all of our best friends, and probably way too much family.  I wouldnt trade it for anything, because it was all ours, and we had a great time.

      script.
        days_el = document.getElementById('wed_days')
        today = new Date()
        together = new Date('5/21/2011')
        years = (today - together)/(1000*60*60*24*365.2425)
        years_num = Math.floor(years)
        days_num = Math.round((years - years_num)*365)
        
        days_el.innerHTML = String(years_num) + ' Years ' + String(days_num) + ' days '
    +slide
      figure.polaroid
        img(src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/248263_10150609437895515_5796995_n.jpg?_nc_cat=0&oh=526d617db3b7646331a9637241ff3956&oe=5B7DD926", alt="")
        figcaption Walker Wedding 2012
    +slide
      h1 Peoria
      h3#p_days.fragment days
      p.
        In 2012 we moved to  Peoria to  start our Family and career.

      script.
        days_el = document.getElementById('p_days')
        today = new Date()
        together = new Date('6/1/2012')
        years = (today - together)/(1000*60*60*24*365.2425)
        years_num = Math.floor(years)
        days_num = Math.round((years - years_num)*365)
        
        days_el.innerHTML = String(years_num) + ' Years ' + String(days_num) + ' days '
    +slide
      h1 Date Nights
      figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem')
        img(src="https://lh3.googleusercontent.com/O_7KMIg1jIC-l7S9xcynft69KenkPvIp2UO9WeZshVWMpoDkT-kqWZQ727KNseRZAHoAojV2nyy3xag6JJ6aV7MbzpOakkyGZkZE_UDARiMQI2NvwfNAsmvhIjnc-zGNeW6bNUgxoh-m-Jz6cmX_YjgsNdr6itp3FrUCPMWk3FrVT_MgGY8afcACa3bgWY7OBMLNtlT-tcbQRLDihwoI1dF9iIkaGyzvWnI7gbT2LVc2698wkESpatvgkx-WCZWgVPi_gjXLJNE5oGMbP3e5tbazKYe2PECAY0a-l_W-EPdwEXnrVbHYu1GZXSHIuo4DVOS4hiK6RSEizO-mloDT-4t7PP_w3j_ktWdbhDyYecUa0qFR7fvHcZ8IvpaoCfIRhb6LOlgEx3Kkz-BJ-qMyjrYhQnZMS9KOTBCekz-XyR3mVPGIt57VU96oKHhkoK8M3m8xSaaCbjoVZksX0gGSkryieOSVRRltaJqn4HgAvW8ZVywa7HUmRmi7ZH1lgV4ywkzMPyG3Ysu3yyMaiywFNibVKaPzWdh0DfGu9xihQcrc0wseAHHLjN-G8PpPDXvj4hpBUdpTnvOCYly-SbXcEoZRJfHPwMt9S_x20Uc6=w560-h994-no", alt="")
        figcaption Date Night
      figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem')
        img(src="https://lh3.googleusercontent.com/MgebxSGHPo8jL-G4a98JkeUE1974yc7vF8g6t64VCF8gneFMvhiA3pg4JOXkIdFFq4k1MCjWPylBs7Gf6z7WeyXDzPAdkKyM_woAVS6rFZfW45-MiTLYA4UmLH7famYI5E5P0Cf6ns0xQoCubyh78h97hYWzfo83vUTCAQhGtK1gdehUTpNmtrdJ2tS-L8pEnT3V6Y57xTZhOX3ewU3_bfhn5Vmif5zXN5UIJcz3hU4DPakTFVVXT6bBJABT_-HbQjVV8erj3q8i1I4lglhY1aM3ZNwxClTgrH_sXBrhFMcao5UQxFUND4TXAG2gmyQOH0QYKNMpLpWBMC6qk5EvuS2NIW_lww41pmKkDEyFBt0aF2ArT4MoZSskPx3FipzJjcBTptfwtsRv8Fg3uU3Qv8cVRtJEu6HMlpXe_CDnfdo6W5TNAJJDmGtnz5PMLarhBhhhmvTp9hsmfbLTTB1BLdPYmXCBtdVf-KVKJBnz3A2bfSBTgfg6wp3IM50Jw0teJ8op3Rrvv_2kHZI9MLhgpJ7UffaSo5q7msvp1s0xPQIV0r8wDuNGhc8fqo9-lR56gWaai-2nVhReUM6CWcLyBEHQ3GW7lPHY0-LAo_Kv=w453-h255-no", alt="")
        figcaption ha
      figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem; left: 10vw')
        img(src="https://lh3.googleusercontent.com/mENLOwS6QPo532Xwn5JevThyb_WPcfI7BZabs5-XfrI5SXKHOUslov6HOjSZOJJrVcH1e_K9pwrjaqPWQ-Y2uUyCFh_siDeiTxzNKknAR7L5HXnRaUdfFu08loUD0UGBuFzMe6-l3vrgCV_DK7i7ejgLxdzbnqYVrfgt_jy-ECv8dAPmrO0F-kUSoxpFc5Asogkscy-XL29bNx3K1dowrLHfgx7ENCbMqWHP1h9qDO3XO65_IVQ3giehUjC5CSimkFjEy9CSQ_v9q_KtpcmF5J-E4zXEacVbwDYuTbzuB1FfUPk9FfuibSb9XtwwQOmzmUuLyIvda5NtX__zB-cMeW8TS5T60bKUMzeDbwGVHNcfJMWjF_p_BCeanOyncVNRbNv8yCVBMdTZv5HKHp1wWXJMECYlRrrrXCeCeebUEU1YMzVSici-19tBF0qQdtLeeDKJm5HM1ByH4bK9mNpczhuGNrgzLVEaO8wUiV0Ilc3iUhEmFdkIdllaK1WtXUw8ePFA35f3G_VVaitTysywpG-ptDwrPR3q1RfUei8v3rNPLWVzGoy2J6oHyeavsi_ctSF2jwhwFRAoEjvUAimN7yXBiF2FQ5EZW3O_yJ54=w808-h454-no", alt="")
        figcaption eek
      figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem; left: 20vw;')
        img(src="https://lh3.googleusercontent.com/KERZ3aCTKR8r5bTDKBGlF7qU3zDaliMLBTSXTlB10PSujgHFuWnti44wB1tgm_RcKch8HtAvGPkRGv07uRa_1lGomhb8RNB3occ9zovn-NSU-DejUEPq-699F2081sg3oNqKqMiaGAAfklyfZHTKXczXY_Rb_ACGdsuADAAjKBI6V-55QLO9SueIXaYEVNI4-bLdYUC8GrbIbZ7C_3rOpcKyRfistgYqa1v6IfE6Zg3El1dpb_rOJEk5aBb67xJZDiGmmGIRd55yu9zj14CLdVh5MW_tnNE9p9Ih3vnpOIuys4QbRSNstuo6UfRJSC9XRtdqY5D-fofbbOIJIrJgiSVlxMhJagQk1orr1HMrXxWd6pQPcV6uMMq0hoJBogDNKaZ3NutRePraqQ8bGSnyY4L0nSf_nRS_na1oWC2jlezbzrn1JqTMUp6TkjDmgsAZKbQMHDHk7CY9wCFNFt8UfjXnJBOZXMHI3fxDj8z63vvqhrTcMDg6v9nK31JwP0YRa4JisRhMuZGOLhAltWpGF5mdlObbMZkTWf0u9Jp5Xcw0TcmFdOnZ_VamsfNhlMPITqODX9b0qM07T7KU2K-OF1fQ9cGjqabOg5lKvjia=w808-h454-no", alt="")
        figcaption huh
      figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem; left: 20vw;')
        img(src="https://lh3.googleusercontent.com/WxTfuJ0HSfQ45pNwvfv1w2nJFcrThSfa5d3mfzM6kgFLUY6IrZHu3uSM_0spHN30I2ioDpgemoRCgHSXTH7eAuD7muYSGBJDHBwxE2MjfEPN1byvHPGJN1YNkKoBeJfax8yt5N784zdqcoN75841tXzZHDa7aP0gLISYiRa9xhqPWrx8vdR0-23h5cTi9vyZSULG5k70dYJidKqeLDwOFFBei9EIsdlrf6DEdkOzEa2sxI5eLFaCsupe13DBrWeablwSU5Nwax8Qi2NAQ9TOM_hwo7Nx2PlKHc9eZIy5mGaF9V1VArqWAx7w7IKwavGpLTtbONL8CHj3eS-IWBPXMovVOJ0Dm-Bbj_D2_ct62Wo5mooWiT6lZLY0sOkSSpWZ0Iyhi0ZG3C5riIEGEGYc5sNfdjOSGGAkTmHGFOW2C5vp_X4UrHLQZNRQs05EQW3pYySL_Buge-SzrAY4iTAzw6fKRWSHxOeDpya523t4GWKLpw5Dj3OkYaP2TVy6fWFo2l2l4_W7FCHMRhwPFFc1deeQKdw7L563ijqxx3-PWtQ_rfRPLqpKqYeyprqMmpu752sDFR8Ox7E0yh6JiXMOLiYHcKOQ6U5k0pV2NmEs=w1059-h596-no", alt="")
        figcaption Date Night
      .strip(style='display:flex;flex-wrap:wrap;justify-content:center;').fragment.current-visible
        figure.polaroid
          img(src="https://lh3.googleusercontent.com/GMeNd2Q9-clQdRZqHidXpWKGzMeCrE-2GHoiraqNDAmviAOu-f4ylJ19ozMAGHfsJvQfYQjoJVE2s-V10RUrDPTnTHVyZvtNoL1prp3sUI8kUWMMl2QphcaXxCRAvQ-DzqJBJ0okhgnOlg3fq5Ar9msaNwGFbN4IcwER5kvXywE0qO4SSSRAT8O07FIzsp_mlYcajzo2T-B-EIG7SxVBuByYzVgyFurdXjPs6eWCMZ6ioasvQem0zkMAYtxHsKtzUoK4WmmRWFW-KlCT47lji5ASWWPM1TGiZOQ8nBtbOkfoQ7ot6dajW72gGj40DYeWHBmfc5PTuM5UvAOZX_qBvZSEHaiU-zicRZ0O6H8KVgj7eAw5kPY7-Bhjwy63R9my6tUOAS1eGm60MRSsVwzxol1A1l_2UgeGHAA7QtcMlWRGm1xoJwve1-rYzDmv_kKjzMI1T9YNe9Cm0MLIygP_YySXRiXPOTO0HGh8LC6GJa4lqPy4VnJXWByAIqtGtmPVdH_nbqlkxjke-XiiKQzsz-JdLntAldugRx6i8L4v_JdLCd0NYRynZU_y5FS-7RWX10PPsH8BCsB5SHl33y_wVpbauNaaqWipZ8guSYOs=w453-h255-no", alt="")
          figcaption Date Night!
        figure.polaroid
          img(src="https://lh3.googleusercontent.com/iL3zpdTHlBA6KsxfaQ_Lj1I7y0O-1OVTZXY2QgXSzrszEiQP9mQGMIax8BDF8V_J_ltBfmQX-9wRZxOTeiO09t4PcgseSCicZr74uC9xV1yo2w3R5YWOjt-VnWY_eYBaB6wFknF6II4gE089QvG64fIVIN2qknfHP_GUx33k7qh-CXKF0alsC50WUEhd3F1SZgoio30pEmh3Y39yI0xxCiyruBoCyhlc9RFeanOh9XEKspatI_0fzIjoz2KeSCmYMk6FhgjrxMSiE__nABPCPD4fYaeBMWkjPl6ZzKYstAMudCnaAlpsSbfb6FEvbl-C9m8aHcGwQmsvLG9eHFLzyjr92AA2cidmiqsOhLBMAfOPaUSGdKJkzDW7MIeJFHLrGgUw5tkOtaVnYKZEb9d7Z4YGg6QMLuqpmZ0foyNYAwOUdJ60jS7xKgfR8EkXw0i52tos2T35O3SBJIHa1C2pufnL_Gx2FXraCAT0dAhbRGmxX6GoJsbZNuUaRmuLiL4LpXBCOsEobHTOE9ljNA6c29PPS5HcBmyJO3c0DUSJiRUayaHWHdunklL_5tlbM2trXxngyGpt1ZVd9kyl1zwA09C_v9kKMxDdFNv1rdVX=w453-h255-no", alt="")
          figcaption oooooh
        figure.polaroid
          img(src="https://lh3.googleusercontent.com/Zl06pMUbQ1Tc5iyW3As9NjQrrzKWX824_ww9vGKIa6Q08NugUkOMTBGjw331dhzbfSs_xGJ4x80VEubta9R5rgYI59m9j2PqxpvkQdcYzH65rFR1SmPMppt_E5-6XKiBjm62LqNrRlJLp6rsDo2fabyomt6HonGIBgT_zNd0Zyt48tadYKidgP8duNkriU94jlxvF46zaFYN4gVTRfo49xPfUL1O-TVigC1nyg0xydiugyZpTZtD4f9SB9Ka68-bgMeJixHFTNYeRi6lzsTsgo-QQrUIov8rhR7BNuNkc3luS6HnrqTqxBBwidTpFUkQX8Vd-boPnbunzXlriEM4h5WmUK9j002A3UhwFE24nolvRXtpRuf2L41ZJir-PpME1Sex5arjzGA9ZNlxKDMvVO4Hg2dOBE6Ai76eIK6Roe0Jw-KaSohNHMd057j52tqmAJenna45V05ifb6bpQr5Wz3kcGat6yVLCg2i3kuHYwOQ1wHtMkRiYF_n0sUYBmw3Zza0GxQUBxowFqvKQ5LFrwiTwcmjwg3_VAGanH2own0fStjQWE-EtzHKjmiZNqHYGtWDU8PC19VIjsq3ZkrdlTRbIIp0xDQhnCkyXFSN=w453-h255-no", alt="")
          figcaption ahhhhhh
      
    +slide
      h1 Selfies
      .strip()
        figure.polaroid.fragment.current-visible(style='position: absolute; top: 8rem;')
          img(src="https://lh3.googleusercontent.com/VFmI_ru4XX9_EUUWdvXrMANq89_8q0sML5aIDoYEdbHZxgezuWbpXI9rZHGYX-mXDeNHKO7AT0nrmSv8fwJj7jgLY1gssqzZb8V5oTupdYPLz-Ivsh6vXE4-RQFkYaDSsIynib9FfquzrR7-SjkAb5iNjqux_q_3GVXvCoHpZtnluS0_K8MEw7RZaXWxGMdnsxavBFqs63V5FSYRVMHTIVZWHQeE8at7roYONrI1y2_seNR8OjtibqYrMYjVw7vA4NQ9ZRsn8ruC-U1iNUglespqGhK59hxTsTRjNDlsLYWky-RNrvJVHKhyYxcaQi1qfUG-mJLtKRRHeGfQUDfgj5ENHRTycMhtoDEm9x_zUhE2CHJimv-9r1jX8IW7alC8hGmAH-tuR2aE0IFe8ssKuAb0VMFTfAM0aUF9cYz73taaLbcSm7GIyNjGlTebMCoS8q0i53mELTb7DwyvIKDNtHYb4RaT5As3iSR3vyuc1Z6zuIPDxNqk85NzxjHg-WvZjMxkTehRr6V7usnEiInyuZJUnn0mtZjlS-PeIWlIwgPi4XwYiEaGJseEJCROngBmXzpXhe3Z9wZiL5Rpv3vjy4YKkfSoqNlz6j8wSeoQ=w958-h539-no", alt="")
          figcaption Sunny Days
        figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem')
          img(src="https://lh3.googleusercontent.com/HlNaHS_7TLH12vAOB8tx_DD5weN4ZfOen2Tijm3gt8wA29bfiOhw9iU7aHyv45ywg3OUj3W9O72ABuVKaI9XKMnr5IorUyqTv0ZbHBRms_x_Ut6fXF7nxx-A2dyX_hTq82rsHtz1a3hyg6Qcl2JSPCKwzTARR8toZ1pPpDMW8aax5Wf2OE6Cu9acA0xJJL0ViVn7gwj04T_hDTHtQXBRRjER8qZrsc6h33rWxAaomNLdlR48qc0GhWuACgp8M6SbP3jaie0H9g0RgBOcw7cXmySOY-xI8Z-0GhLt5fdPQh9nbTEoIvLZH7peX3EmEcC_BnAh8Oyic7W4jswcP4sFPNvZfsOtZFyPXQhTwOhnTkTSZAEAwuPi5TAfzj-SxqXi9bqZPwa3pEdu62dND4Kf9lZ8Dmk5Tt-nn5VvxKRdKqtJXa2de0bjiBGxRqFkoBFnj_QSBsUaq3oNtIz0_E3tSxPLj20fjJ9epPYoS3OZKeVb6qWEJP6YxxOJCiLT9DRPR7tZ7R43eJ0Q4y0eNLXOSrFKbgE7Sge57QTX9-dQQpuNO5UyPrD38Gou_BFECcH2X_thx2INlBR6tvoh4k4tnTputaLAPGjgQxTnK4H_=w256-h454-no", alt="")
          figcaption CHICAGO
        figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem')
          img(src="https://lh3.googleusercontent.com/071DTV_jHllaUHM2yn8FkClvmGGkjiPGy6X11qme0f_r416BADPCLxgh2WGpsKMwtLuTFrmXbq8OakjPP9A4RVcpkR1xhWWBEkvJ8DskgwOv4xfojwBY2SM7U02DXiw4a5FWtKwaqLfBpnmj_K-DI26IGcWr7-3rIOF4yaHXld2_2LKtdSalHTEK2ES8Zx-zohm0NAKmyO4KTuIj_WuHRqgbzZ9Wc8dDV2McH4Y6pzjVjCH_M70MI9jS1lYCd2Jucc5hxuNAztW8wPpuJrYSduPplR1-YnTQ9JGkKGRfjzzRe1CrPCvEKlhH8JNU_zcyAqASO487wIgOGa9pzkITZMFKfapMPCJMNjvQnoEKPbGgp7o_moU3mu3iHIWfxolV53yO74ke6L4AaJvAs5fSdJz5jSGTzecrfVgH0UANhSa_hg-O_SuPBqtZKe-RiAkMRzIZkBl4aOZ7c7PlyLeD9s73cJCu9AhtT0U0DvwJ_JWv07Pj2agx67LxYpUCa2E3qDY6IcbnxwUDBk_Z5Icok3744NNjNcDxoel8JyuWHDVcaZdijrKertHN8-aTEcc5RxkMb69B-TOCQ8NFHPEl8QtnL27bAtHwxB_A0QTl=w808-h454-no", alt="")
          figcaption Collecting Sea Shells
        figure.polaroid.fragment.current-visible(style='position: absolute; top:8rem')
          img(src="https://lh3.googleusercontent.com/Y61qrpQHzasN_HUp10yhaSlom8Vob3novElI8IMWgT4dcd1zR4SVSETI1JqTz9Ttt8zz2poSenkDiJrRCaeLWXBPsG7wxT6yUN0LiwA_8pWfE0uWCb2oFK7e4wCaDE8fU4Xp3tZRGRuRdABs2jZ7Y8_KittgytszV1cXigk24YRniSwZdn0CJ5IF5WcPb2g1c_EX8K9GeHkbT1O0KzuIkyIbA9x9kPSnGaubjbMrjRO1dQ1ql3zJkjaUEeV2bZ0uVGj9vFkUlScZ6PImTyrvpmUIRiwe9G_p0NoOTvSaJKqp9A69l9IWDa3uzqVPtMyImzSGSCntmQOA4ydsULQLAt3zOmWolhPT_S5v81fmCU77RwyXHIn0cfFN_fokEvkct4pO_aGBnS0hQxs-i9DsM9fZw_N9Sa68uSYEU9Lz4r-QHVv53BOAPsqeDRdJbZ15UBiaGCUUvBBUzqC778mEA8-F5J1cr4LlL0_Kp_t-SyZAg4TZ3ZJTNMWR05VsHrCTgp2vQ5jxrVwPFpSTWE_Bbbrz4IkbJbrNiJF75mvKW_IJ7ETKr5PoX3p6Q-ZOGkwyZC2X9yUtiDy-j1cRNXzkcRIrU7jCasI6IY-a9G-I=w808-h454-no", alt="")
          figcaption Break Time
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/sBuFT7lVCX5YWBdFRvsxf0wsBxQ6kkV9E2i7qUpJi_5rXyGT3Ds78kIB6rYkyp3YGtUSEEIPKMEujPEqmObAIeCqx_sUb9J8XvrSkTweFyIZ4_UZ35ibpCytM0gvKNkod5sVtFWUY5COsUp3BwPPjz-VwihmTFWmJneXR-oje4RLGDmc4lgMB-LGD0y3bIOuI-lN_DRP772bPKxkRD_EYVz32wkRpy8peyEvAxshXPA_Z68qrmJisDJhQdNHr5RnyaE4IYoRfJFfcmp__ndCI4sIaVMOVIVVzEKb7oReVCE6d4LUydwdYLQHLuu4DRyNv4rRDxSden8Rr-EISYp6u8hQd7UEpOuRQo2RddzOMb8dbrQLIcA2r973GP58gy_UGtjcOgKvOaDJOXPcNKdKDNjxxTKVYO42HWWeN0xhVO900sm83LcnmOZTNALxDIU3MuKxPmbMFxbh95gtjI81W6ObLbgJq_0XJ4MBYeUYSROAlTGRbBkMMEPxKpiz7tnyCZP5D64kUGRh3Ey3n65Bd1tdvGPHzNxgV5RMUfG_p0V9AjOUqqogzrSfiYCioH851zSJRfO8qNWOdoS-sFqu2MJfZS-TiIZJnZzRjmNp=w1059-h596-no", alt="")
        figcaption Keeping it together
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/PckzT7fMo1SO3r9U4UP4sU0xIIMJcDWT7tpbzuITusNeI-VVWFHA7Q8Quoowu1UOr1T1dqFw3O-wMyus-Iz3b7wq6KlaexEYBzlUszJmFOydeAxFTT1vK2utLOfv0o5Qb2lw3XTXWCjr6gS9fsf2u1UzU3HvZZd2h3A7kBgIDkfVoNGrmy9eJU-GVuJeWkfxH9frz-EfNKG7AApQCdjpbZFwfpVx9h4Zc2dnZXejQMn5fJ73aidHmD8ks5MbR7lC3xlXsJ9tjKRN2HEnzoulD29HKOfC0p3pM6VHeM4cRZZZz39R-TmmFaTSZ5Q_Zb7rg5icxfPWHpd3_8CD4c8pzRKWXyQUyJYj8qtiC_o3z34s6MojENq73uwCAdffGRjABdVRxf9-whSgtepXWMJrCrytpK-KEjf2uodr3byw07voUVkAF8Uqe1zxNygOO5a5CHAC7xVIqfcxdTZWyhD5gzTmU1VQURuiDeZMisKNGvziLoSUrgn9D6_QuBjgxiBv67C0xBydFOdN_gy7MCRG5bPap0SFLib7PwGWqficTBfZ08OrxoLyxrW7bL6RIIUnMEwqDD9suFCONRA9RXr9QWB4TmQKDpDbMmUBQwPH=w1059-h703-no", alt="")
        figcaption Hoover Dam 2013
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/4jrf5y9L5zLtpN0g-voeNSVAlsujmAHG_YKfo5xKRwaUS_kQnf871bRL_FZKJQhSLv58SLGXPyyfb61NKTh6XZ0lw27jU8jqEfZ8KeOQHV2yZ68HTh7Yv1iv43TIWHRgGd8sJ_5wfnPCKbQ6sw2E5Id7ZNoHp-4KEEafUefTZFrb06xlWc18IkjjngrrfAiDOmV4p7XrPiilIJi1QBqxgy3fwrNUF6Q6zFvxEou2RjINI4osn0DeQKb16YVMbfBd2uPQKnIGAvleoWKD4tl64M7uwZ88M7_iKGiTI3dsoAXTXh41Erpi1I3WfyxxhIjRtYrEJrna9TDzNxFc95xkC1EVfT04fpIhCs7OGydLsQ96eyi_PdX8Cjj7eJvfAJf9mYestbUsZhjqudWo0Xsr_bRb_w7wEWCKhleqC11L6qEEnW7VXvIRNpvvcFqVBj5e3hdM36mD50iVxnNrNGYVQHPxmx6_uAlmAQwEVARIiQT92tfZVDYTZ1n9JaglHXVRL2YWBYDvDWOaELfiaf1Cm7BZmbaNMDK1deyPV1u5A-CPMpH3H93N351EPyPX7tNSOYHHV5l_21FCbqVdz11AtSJSbvCLNGVHvk6pghA6=w1059-h596-no", alt="")
        figcaption July 4th, 2013
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/5kmsL5S0MrStBN7KAOK_FaGOk1ITP99yOOFrY_sV41id-npfUgrbISK8Nd7F-RD5h12bqWlplCdq-iaRI0qThUbpcloKoiSn_z6WbAPnlqtcNXKNKaEcB-eEXb6LCRWfrMPvslFAiDBjS7zoT5VVZbB0p2YCW9lq8TuZcPm0WopfE0Af3UrhqnZzT1AulMBEXK-f3MBSNKB9Pv2H6fp0XRfQlJgJe_4F0r_-dRfag5rQCu17jmDEqHtEB7XQxD0CqSHQr3j31COAM-oCTusrEazdy5gIFQ5ZyMjSi7TWvZ2B7rRzSMc_S8SQxfi85PB9rI07uE7kKiDo86fk0X9sWnSeYFEbJpEXILhoCbH08ERzvAcGDflBfFQZYy67NQ_ymM64JBfdLPP2G_K75yw7QUJRBivHMafcNjv_O6-lIRO28Z7N-tuGH8mdCpKXKfTii4SQq-J4F04G3L542vo0RPRapHGp2Fam-vDJ4ljWfGo4Aek_zC7KyTXQfnn447rf0q-AJsh9dyozMyWcvTWMLR62HDCN2nFzEZ2Jct6GLoNeKx-kfnNVv59noCEL5YsFq_AEy5tAHNVwxkBgquEo0OSP-rgH_8czEIGBV5Mf=w1059-h795-no", alt="")
        figcaption Family at the Races
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/1dTLpWVOvRKLapB_drg-aeeEzMlziMu2AWyf87sv9R0GFH_718llPEKy2GC6e6eW225ImKiA0pN2-udm-VVJI4BMRhddVghQdeR-aVml_epIyIuoJtYHX4zHRetQlysCsNZTkbqsR7oXMoS5_85M4XCtnV5Y6T4Lci7ryNQVJjD8YA_zh1_4me6odYhXhH37mpbjhRg4prRHPHxBcuqCcluxMOyvMs_YBcH6RJbcG6FqrRAnUYl20eR4qGpSIL78Om0mNdDCVHeSZDTIEh_J_t6QUcsXNgFbBP_1iT3P1k1vrxcLHRrxHcxD0CFHaoa4vJV8TOWhtIwB4ilvFejFB2F3SOCY6op7hOpaiAxeVQ3suJI0gHwkevkJ-7K9PC9zfKB2dEDF20pOrwKQyxr5yKUl4zy3o906HeLL8GwUubxiEGpUBmI8I9YAeIkNTcxyJ5mMJ2forceqBAQ4Pl7pjaqcV36hpiB0G23t0aQPbFtqt1732QSZDT9AT7CVPA2czRZrnLiDFgM_QdzSGFjwUAvV7oFsLPifVGOFW7urTWt8dfUuIBUsEuf-BUu69nNvo2frG1uC0GL3jFKjPXhhBTWlK4jL77BRnhiQ-bQg=w958-h719-no", alt="")
        figcaption Sticking Together
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/AtircaN-ZzNmH36rIQy9OQUS2d8oqaUloqZ1OE5yf42aDRrCV1_0wjiHNle7QzO3WX73Qs8zrfPz2TYe5YGDccJpFGTrkJyGsZyQSgr1hAzcJLjlSdnuLmufSPkjk9oLz-FvZm620mbsHMuATulvNru8LFnIVOqk4MYcyVMyT4sImLFUuzUziCAQMr73U47bGF_0z4P1LsZp1X4We5rFmKOLtC6KAxHrC54riHbzoXD7wP0SZshY_M4eppRg7pd2vwFDP9mOwyZmuArr8iWyuro1EvLuZ0OsuIBp0Wk0c_Ydq6oMzVY7jvxXVRLG4scJY0i2E5EccTQza3eHx9ZUZOcP46JTKCn1BlD8bzLp3eaNvemNIKRxeE7Qr1PkMODwQy7WJpPBBiFprx3g_iM6y-J2AVEVoCoOjVuK4VxBAy8HevHlpH09pvcwqbzaWnfqcOL0VjWQEzv4h6kkQWzVRtU2grSXWBT4lWtktVA_X3iTkcnmO-3yaIDtqw9nv_jlIa0-0Zaej40d5AMQjEQf6x3IhbW8uvItBs_Oxe7Lr45-SGPJhcZJ7FYnVKzQcxgxKTNGLXyeStB7In7j0zUNjfrqJXpFw3ItOtVE5zwO=w958-h719-no", alt="")
        figcaption Celebrating the Good Times
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/NlyjzgyWfvgZsiOqLn1DhiLGcHsWFbBNfXVEL-kBievpL6ePiGxhNTbKLt3Dtbin5wHCs9VnqYWJJC_EzL0EDjXB3JnodL1PaAFyYirGe0LYRw1u3GhIo7MoamBmQA8JqrqukVKNiNIB9su_mQuEjTf5dHsT4q8drfIXY1W822Qr8A90iElvkf790SuXdnRYbSUzCldwQ5q1zh3ZT3Td64Ja_YWUSNPbNyRylk8hXJ-4ZUI54To46j5JHoWBL97GKTW4wblvc26sq-AAeTcBIletor63C6gPFLNWQejU5lzD-ODCiPab-c07_DbDVGgAb-fd_xNLjKUV_LYMlQQGoCuYujz7mICNVK8mFMA-SielnfHcsTYzzMY6nij18PyGDPDYC9M-wa0TjR-Gr9a1ukvu_BwO_USrEjnpxoFHq0W5B8E8gxO02pHgdOHHbiAQj6z5UKkV2BAq5A73fDT7bjT6rhrCpbYFGeNrYGgp3cRjBAgnfywUd9XPy3qmc1MViwdoiAnKeDqi494C6rWJyM46oBVBPUOBPpfs8CzHv_x2hs19T1Zdg9Os_nmYOc0_9UPBlcmsvKBXRvP4I5RMVsgv1GiJOAhDYwegNsDa=w560-h994-no", alt="")
        figcaption Superhero
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/L4BZh7fzPZqLgvw2V6iparnbJDMH5wia7X9Kl3P8IVY0_6O8hKaqzCoQKigCHPHBOsyvUllVRWdNJq-SHsGczWkOkLn60axcyDUGNg4N66UWFKR8SRZ9QNG8n8YI6_rcwyD3Ph9n5dTENri-p_utZVsoXlNXWeN836PS10spjbH-AUkH1gb0W6tfChecZMkuJnG7abZIWBly5p8oiTg_v0Zj8wyoFebouTjN_-NxGRY4lyrHeAKwkYmjLBH4Bp7E5buNx9lhr45LrHC_wOOMaXNI3k0tCeYIPa02krC0J8GzTWNP2BzWUDktqtHW4qcF2fCRy41TVv81Q7YGJeincHpRadTymNTxrz7KslMwCZuc4vMyl-t8oSFlqYbJymZqQc3oIDh5Xku-L49z56uAfsw23uIyqJi__TLwLFlQ1p7oNMmGVHbM8xdF71Mp1hru31d2Z-f475gQwXyLF-ndynCCd6SImWEMQLY2jK8bcY7n-_k5-DRng7BzJydXR_1kSKO8dv6KnHdcX_S3vjX6981jVJ4Bkj7MawB5sK53SUe9jExFAD08epUALi604O3fzAKMBjXir0X6W1MN9aClJQ1Lvlr7ssxLPLmcyL7V=w958-h539-no", alt="")
        figcaption Christmas 2013
      p Holidays celebrated no matter where we are
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/Xmed_KJeiv7bX8s8eF8woIr-UFoBNntzt4_8uKTriGnUaQeqxpQlnCr-O4CvLFg4e54TgHXPLYt0K6uDzQYavwYTFCIHSdZJTSYJ4Dy9x4ix_KGReteBGxkrQ1rvp2iOABLciMsVJafMmrRGJtlMqDBTnMcMaKB9afame9IR2eLGZex0uz019GinEeMEIveQl5IrOoY5Ym6yBuixK1Y09UwBn4_ksOR192R816lbp6C2kk-gHyVBMHbwGr-NsA_p6sp2EeytfKYvSCZn-PQa7Q-u4XsDDRDQ6ujTYqGx8Chd-P5Wjmzs87fCiMRnvjy1JHOa-JIZZoxrKx1MVEd50IR4SULBaC2t3q9gzdPbUfK_ZOKM2HayOkgnB0H4sywM414HymUzLzqKw-es2hMIl0HDFCfdAVRxZzsHypqWWREeWOKAhiUPNIlsz9hfy6I-KxWXk3BsXj3hPMA_oSnEiQipBuXakRRf5DboQ4si06t6vTT0yNtfrnk3MdbZHEnmwlbQUpIe5Qof22Wppl_ZJO5xGeSf4qE71DSEK-e13tIbGCjxgTJHjwcJhWQ4EZe2fiXBvhbWjZaI5Ffl_CnyTzwZI4dqI0eIHuxbWAQT=w808-h454-no", alt="")
        figcaption  Bumpy Rides
    +slide
      figure.polaroid
        img(src="https://lh3.googleusercontent.com/8QDKBp3s_s2IGrlbvKxhwrUWNT9v4V90NPbhgc4ciedm2XebrVIc1ti8DnttKdUJhfTh0-iUftaZLS160p67mIQ6kohr9EvPrM-L5LB_z-xt3GYssJmnZS72wWxsmPy8_i24Szdg-AS5nFyjurHW5qOQpVHnXHvhyEUgl8TxKqOYSb2N_drg5ZzYr1U157JiruGOpCrPC8DxMWAY5z_wDxEz2csqF69kVaKHxK_Jk4e4_YHgtykePodDvzO6-zEle0zbA9ov4qPVlfuA2IrEeAY2tDQ4M7A-7hC0UFkU7XdzYqho92FIk8_oGpKCLdl17AlW8q_hAkIt8usDTbxB4FXfUlM669VkMEf155JzA1ANB6nMMfiLM1Q7wca4n55rwSGmZWV34KQLnAI_nsJ4gXcDWmuPHkh3zjTJSictwwT77NIX52cANzL6aHN0VDCfDsZETitZZJNjKma6lYBT_20oDqZvMziKpRSzXGcaDJMa0vuxYsA5qPIRunZZc7kFQrGjBzGKvK4RBHDTZx3dzzAReQYXf55YxVIH_zotXOwJJsSIHGOHb_TvYI1MG6ztNf7e8PHeQpNZY7uo2iPYo1WRyN3GHUjUkFYh0svi=w391-h220-no", alt="")
        figcaption !!SNOW!!