include ../includes/_mixins

+slide
    h3 BBBS Hackathon
    h1 2017
    h4 Data Challenge




+slide
    h1 Waylon Walker
    a(href="https://twitter.com/_waylonwalker") @_waylonwalker
    p.fragment Data scientist for 36 days

+slide
    h2 Great Work

    p.fragment.shrink Matched Students show improvement
    
    .plot.fragment
        include plots/best matches.html

+slide
    h2 More Stuff to come

+slide
    h2 Actions

    ul.no-bullet
        li.fragment.current-visible Lunch Buddies
        li.fragment.current-visible Keep Volunteers

