@import reset
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Fira+Sans|Lato|Open+Sans:800');
@import url('/static/font-awesome-4.7.0/css/font-awesome.min.css');

*
    font-family: 'Fira Sans', sans-serif

body
    background-color: hsla(24, 10%, 55%, 1)

section
    min-height: 100vh
    border-style: solid
    border-width: 0rem 0rem 0.5rem 0rem
    border-color: hsla(24, 10%, 5%, .8)

h1
    color: hsla(24, 5%, 80%, 1)
    text-shadow: 0.2rem 0.2rem hsla(24, 10%, 5%, 50%)

a
    text-decoration: none

.hero
    background: url('/static/images/WalkerFamily2017_46_sm.jpg') no-repeat center center fixed
    background-size: cover
    background-attachment: fixed;
    min-height: 100vh
    display: block

.name
    font-family: 'Open Sans'
    line-height: 4rem
    font-size: 5rem
    font-weight: 800
    margin: 0
    padding-top: 1rem
    margin-left: 1rem
    display: block
    


    .last
        font-family: 'Shadows Into Light'
        font-size: 3rem
        font-weight: 400

@media only screen and (min-width: 500px)
    .name
        margin-left: 40%
        padding-top: calc(50vh - 3rem)

#family
    background: url('/static/images/WalkerFamily2017_4_sm.jpg') no-repeat center center fixed
    background-size: cover

#hobby
    background: url('/static/images/picnic_table.jpg') no-repeat center center fixed
    background-size: cover

#work
    // Photo by Dan Gold on Unsplash
    background: url('/static/images/dan-gold-297904.jpg') no-repeat center center fixed
    background-size: cover
    filter: grayscale(100%)






.nav
    display: none
    ul
        li
            margin: 5px
            padding: 10px
            text-align: center
            width: 10rem
            border-style: solid
            border-width: 0.1rem
            border-color: hsla(24, 15%, 10%, 1)
            cursor: pointer
            background: hsla(24, 15%, 85%, 1)

.content
    background: hsla(0, 0, 60%, .7)
    box-shadow: 1rem 1rem 1rem hsla(24, 5%, 10%, 0.3)
    color: hsla(24, 5%, 5%, 1)
    font-size: 1.2rem
    border-radius: 0.2rem
    margin: 1rem
    margin-top: 10rem
    padding: 0.5rem
    max-width: 1200px

    p
        margin: 0 0 1rem 0

@media only screen and (min-width: 500px)
    .content
        margin: 1rem 1rem 0rem 25vh

footer
    text-align: right
    font-size: 1.5rem
    width: 100%
    background: hsla(0, 0, 80%, 0.5)
    .label
        display: none
    ul
        list-style: none
        display: flex
        flex-direction: row
        justify-content: flex-end

        li
          margin: 0.5rem  

    a
        color: black
        text-decoration: none
@media only screen and (min-width: 500px)
    footer
        font-size: 1rem
        position: fixed
        bottom: 0

        .label
            display: inline-block
