extends ../../../layout/mm
block append config
    -
            config.title = "MakeOverMonday"
            config.description = "Waylon Walker's Makeover Monday Entry"
            config.image = ""
            config.url = "http://www.waylonwalker.com/MakeoverMonday"
            config.makeovermonday = 4
    -

block content
    #content
        #blog.card
            h1 Nesting Regions

            p
                em.
                    Makeover Monday 4
        #viz
        