extends ../../layout/layout
block append content
    #gratitude
        .heading
            h1 Gratitude Journal

            p Every morning I come up with a topic, start a five minute timer, and free flow whatever comes to mind with that topic.  The topics are generally something that has impacted me within the past few days.  This journal is for my own benefit.  It helps me to focus on the things that I appreciate first thing in the morning, become better at free flow writing, and improve my typing speed.  I post it publicly to give myself more motivation to keep up with it everyday, and potentially inspire someone else to start their own gratitude journal.

            p #[em Waylon S. Walker]

        .content
            include ../../../gratitude/content.html

