doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    title WaylonWalker

    link(rel='stylesheet' href='/static/css/index.css')
    //- link(rel='stylesheet' href='/static/font-awesome-4.7.0/css/font-awesome.min.css')
    //- script(src='/static/js/main.js')

body

    section.hero
        h1.name Waylon <span class='last'>Walker</span>
        //- image(src='https://avatars2.githubusercontent.com/u/22648375?v=4&u=28abbfb383a507d4c2efc36111e9e466c58acab2&s=400')
        
        .content
            include:marked about.md

        .nav
            ul
                li Projects
                li About


    section#family
        h1.name Walker <span class='last'>Family</span>

        .content
            include family.pug

    section#hobby
        h1.name Projects <span class='last'>Hobby</span>

    section#work
        h1.name Projects <span class='last'>Career</span>

        .content
            include work.pug
    
    footer
        ul
            li 
                a(href='https://www.instagram.com/yellowhatwoodworks/') <i class="fa fa-instagram" aria-hidden="true"></i> <span class='label'> yellowhatwoodworks</span>
            li 
                a(href='https://twitter.com/_WaylonWalker') <i class="fa fa-twitter" aria-hidden="true"></i> <span class='label'> waylonwalker </span> 
            li 
                a(href='https://github.com/WaylonWalker') <i class="fa fa-github" aria-hidden="true"></i> <span class='label'> waylonwalker </span> 


    
