nav
    h1.logo WW
    ul.firstqa
        li 
            a(href='/') Home
        li 
            a(href='/blog') blog
        li Personal
            ul.drop
                li 
                    a(href='/gratitude') gratitude
                li
                    a(href='/goals') goals