.card 
    h2 #[a(href='http://pydatavizday.herokuapp.com/enthusiast') pyDataVizDay]

    p I was asked to speak about visualization in python at a data visualization conference in August 2017.  All of the speakers of the conference were asked to create a visualization based on Kaggle's <a href='https://www.kaggle.com/tmdb/tmdb-movie-metadata'>TMDB 500 Movie Dataset</a>.  I created a flask web app that is running on heroku.

.card
    h2 #[a(href='http://www.waylonwalker.com/bbbs_2017') bbbs_2017]

    p I participated in the 2017 Big Brothers and Big Sisters Data Challenge.  This was a really fun event that allowed me to look at a completely different data set than I am used to, and provide some insights back to the local community.  