doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    title Document

    link(rel='stylesheet' href='./gratitude.css')
    //- script(src='/static/js/main.js')


body

    div.heading
        h1 Gratitude Journal

        p This is my gratitude journal.  I write something every morning with a 5 minute time limit.

    div.content
        include content.html