
.card
    h2 Rhiannon

    p Rhiannon is a strong willed super mom.  She is the organization fanatic of the bunch.  She keeps us running on time, and everything in order.  In November of 2016 she was diagnosed with carcinoid cancer.  It is something that is not treatable, and we are learning to live with.  She has been inspired to go back to school as a doctor when she is able to get back on her feet again.  I cannot wait to begin that chapter of life with her, because it is something she is so passionate about.  If you want to help us on her journey you can support her #[span.pink #[a(href='https://www.gofundme.com/Aylasmedicalfund') gofundme]].

.card
    h2 Wyatt

    p Wyatt is the most energetic boy one can imagine.  He definitely keeps us on out toes.  His imagination is always running wild.  Minecraft is by far his biggest passion in life at the moment.  It is something that allows him to have a creative outlet that has enough action to fill his desire. As you watch him play, you can see that the game has become an extension of himself.  He is able to run through the world with such ease.

.card
    h2 Ayla

    p Ayla is the calm and quiet one of the family.  She loves to curl up with a good book or movie.  In very hectic environments you will find her on the sidelines finding her own activity to do.  She spent the first two years of her life with a G-Tube.  She struggled to keep anything down for a long time especially thin liquids.  After many surgeries and hospital stays she was able to overcome her GI issues and have her G-Tube removed.  We are very proud of how far she has came and how stong she is.
