footer
    include socials
    //- ul
    //-     li 
    //-         a(href='https://www.instagram.com/yellowhatwoodworks/') #[i.fa.fa-instagram] #[span.label yellowhatwoodworks]
    //-     li 
    //-         a(href='https://twitter.com/_WaylonWalker') #[i.fa.fa-twitter] #[span.label waylonwalker] 
    //-     li 
    //-         a(href='https://github.com/WaylonWalker') #[i.fa.fa-github] #[span.label waylonwalker] 

