nav.init
    #nav-btn
        #ham ☰
        //- #x X
    
    #site-navigation
    ul
        li 
            a(href='/') Home
        li 
            a(href='/blog') blog
        li 
            a(href='/makeovermonday') MakeoverMonday
        li Personal
            ul
                li 
                    a(href='/gratitude') gratitude
                li
                    a(href='/goals') goals
                li
                    a(href='/fail') failuree