nav.init
    #nav-btn
        //- #ham ☰
        //- #x X
    
    ul#site-navigation
        //- li 
            a(href='/') Home
        li 
            a(href='/blog') blog
        li.drop 
            a(href='/makeovermonday') MakeoverMonday
            ul.drop-item
                li
                    a(href='/makeovermondy/1') 1: Turkey
                li
                    a(href='/makeovermondy/2') 2: You
                li
                    a(href='/makeovermondy/3') 3: Poverty
        li.drop 
        li.drop 
        li.drop 
            p Personal
            ul.drop-item
                li 
                    a(href='/gratitude') gratitude
                li
                    a(href='/goals') goals
                li
                    a(href='/fail') failure